
{{> head}}
   {{> navbar}}

      <div class="row">
          <div class="col-8">
              <h3>París</h3>
              <hr>
                <p class="text-justify">La ciudad de París, dentro de sus estrechos límites administrativos, tiene una población de 2 273 305 habitantes en 2015.2​ Sin embargo, en el siglo XX, el área metropolitana de París se expandió más allá de los límites del municipio de París, y es hoy en día, con una población de 12 405 426 habitantes en 2013, la segunda área metropolitana del continente europeo (después de Londres) y la 28ª del mundo.4​

La región de París es junto con la de Londres, uno de los núcleos económicos más importantes de Europa.6​ Con 607 000 millones de euros (845 000 millones de dólares), produjo más de una cuarta parte del producto interior bruto (PIB) de Francia en 2011.7​ La Défense es el principal barrio de negocios de Europa,8​ alberga la sede social de casi la mitad de las grandes empresas francesas, así como la sede de veinte de las 100 más grandes del mundo.</p>
          </div>
          <div class="col-4">
              <img class="img-thumbnail"
                   src="https://viajes.nationalgeographic.com.es/medio/2019/03/29/torre-eiffel-hoy_3f99dce8_800x800.jpg">
          </div>
      </div>



{{> footer}} 